body { 
background: #deffff; font: 12pt/1.4 "Helvetica Neue", "Helvetica", serif; max-width: 600px; margin: 0 auto; } 
h1 
{ color: #d71bff; font: 24pt/1.4 "Lucida Console"; } 
a 
{ color: #d71bff; } p { border-bottom: 1px solid #FF9999; padding-bottom: 5px; }
ul
{ 
background: #fdff4c; font: 12pt/1.4 "Trebuchet MS", serif; max-width: 200px; margin: 0 auto; }